* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}

.cx1 {
    background-color: red;
    border: solid 3px black;
    grid-column-start: 1;
    grid-column-end: 7;
}

.cx2 {
    background-color: #7CFC00;
    border: solid 3px black;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 7;
}

.cx-3 {
    background-color: red;
    border: solid 3px black;
    grid-row-start: 2;
    grid-row-end: 7;
}

.cx4 {
    background-color: grey;
    border: solid 3px black;
    grid-row-start: 6;
    grid-column-end: 3;
}