* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
}

.cx1 {
    background-color: blue;
    border: solid 3px black;
}

.cx2 {
    background-color: aqua;
    border: solid 3px black;
}

.cx3 {
    background-color: rgb(167, 37, 117);
    border: solid 3px black;
}