        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
        }
        
        .cx1 {
            background-color: red;
            border: solid 3px black;
            grid-column-start: 1;
            grid-column-end: 7;
        }
        
        .cx2 {
            background-color: yellow;
            border: solid 3px black;
            grid-row-start: 2;
            grid-row-end: 7;
        }
        
        .cx-3 {
            background-color: #7CFC00;
            border: solid 3px black;
            grid-row-start: 2;
            grid-row-end: 7;
            grid-column-start: 2;
            grid-column-end: 7;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        button {
            height: 50px;
            width: 241px;
            border-radius: 23px;
            border: solid 3px black;
        }
        
        a {
            color: black;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
        }